body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("img/pw_pattern.png");
    font-family: Helvetica, sans-serif;
}
a img {
    border: 0;
}
header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 999;
    background: rgba(0,0,0, 0.3);
    transition: padding .35s, background .35s ease-in;
    -moz-transition: padding .35s, background .35s ease-in;
    -webkit-transition: padding .35s, background .35s ease-in;
    -o-transition: padding .35s, background .35s ease-in;
    -ms-transition: padding .35s, background .35s ease-in;
}
.logo {
    display: block;
    float: left;
    width: 0%;
    height: 53px;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0, 0.3);
}
h1.logo>a {
    padding-left: 20px;
    color: #FFF;
    text-decoration: none;
    font-size: 41px;
}
#nav {
    display: block;
    position: relative;
    float: right;
    padding:  0;
    margin: 0;
    list-style: none;
    line-height: 1;
    height: 53px;
    width: 100%;
    background: rgba(0,0,0, 0.3);
}

#nav>li {
    display: block;
    float: right;
    position: relative;
}
#nav>li>a {
    display: block;
    color: #fff;
    padding: 17px 0 18px 0;
    width: 130px;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    transition: width .25s ease-in;
    -webkit-transition: width .25s ease-in
}
#nav>li:hover>a {
    font-weight: 500;
    color: #748;
    background: rgba(0,0,0, 1);
    transition: background .25s ease-in, color .25s ease-in;
    -moz-transition: background .25s ease-in, color .25s ease-in;
    -webkit-transition: background .25s ease-in, color .25s ease-in;
    -o-transition: background .25s ease-in, color .25s ease-in;
    -ms-transition: background .25s ease-in, color .25s ease-in;
}

#nav ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition:opacity .15s ease-in;
    -ms-transition: opacity .15s ease-in;
}
#nav>li:hover>ul {
    opacity: 1;
}
#nav ul li a {
    display: block;
    background: #000;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    width: 130px;
    padding: 17px 0 18px 0;
    transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    -webkit-transition: color .25s ease-in;
    -o-transition: color .25s ease-in;
    -ms-transition: color .25s ease-in;
}
#nav ul li:hover>a {
    color: #748;
    background: #000;
}
article {
    max-width: 1100px;
    padding: 20px 50px;
    margin: 0 auto;
    position: relative;
}
.blur {
    width: 100%;
    height: 600px;
    margin: 0;
    background: url("img/Blurred%20Backgrounds%20(10).jpg");
    background-size: cover;
}
.blur h1 {
    margin: 0;
    font-size: 4em;
    padding: 350px 0 0 170px;
    transition: padding .25s ease-in;
    -moz-transition: padding .25s ease-in;
    -webkit-transition: padding .25s ease-in;
    -o-transition: padding .25s ease-in;
    -ms-transition: padding .25s ease-in;
}
footer {
    text-align: right;
    padding: 20px 20px 0 0;
    height: 40px;
    background: url("img/Blurred%20Backgrounds%20(10).jpg");
    background-size: cover;
 }
footer p {
    margin: 0;
}
#navButton {
    display: none;
}

@media screen and (max-width:1020px) {
    #nav {
        min-width: 400px;
        float: left;
    }
    #nav>li>a {
        padding: 17px 0 18px 0;
        width: 100px;
    }
    #nav ul li a {
        width: 100px;
        padding: 17px 0 18px 0;
    }
    .blur h1 {
        padding: 350px 0 0 100px;
    }
    article {
        min-width: 250px;
    }
}
@media screen and (max-width:675px) {
    .logo {
        width: 100%;
    }
    #nav {
        min-width: 100px;
        padding-left: 20px;
        margin: 0;
        width: 100px;
        float: right;
    }
    #nav ul {
        width: 100px;
        margin: 0;
    }
    #nav>li {
        right: 0;
        display: none;
        position: static;
        margin: 0;
        width: 100px;
    }
    #nav>li>a {
        margin: 0;
    }
    #navButton {
         display: block;
        float: right;
    }
    #nav ul li {
        display: block;
        float: left;
        position: relative;
    }
}