body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("img/pw_pattern.png");
    font-family: Helvetica, sans-serif;
}
a img {
    border: 0;
}
header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1000px; /* don't support screens smaller then 1000px wide */
    padding: 25px 0;
    z-index: 999;
    background: url("img/escheresque_ste.png");
    transition: padding .25s;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    -ms-transition: padding .25s;
}
h1.logo {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0, 0.3);
}
#nav {
    display: block;
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    height: 47px;
}

#nav>li {
    display: block;
    float: left;
    position: relative;
    background: rgba(0,0,0, 0.3);
}
#nav>li>a {
    display: block;
    padding: 17px 8px 18px 8px;
    width: 130px;
    text-align: center;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}
#nav>li:hover>a {
    font-weight: 500;
    color: #748;
    background: rgba(0,0,0, 1);
    transition: background .25s ease-in, color .25s ease-in;
    -moz-transition: background .25s ease-in, color .25s ease-in;
    -webkit-transition: background .25s ease-in, color .25s ease-in;
    -o-transition: background .25s ease-in, color .25s ease-in;
    -ms-transition: background .25s ease-in, color .25s ease-in;
}

#nav ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    -webkit-transition: opacity .15s ease-in;
    -o-transition:opacity .15s ease-in;
    -ms-transition: opacity .15s ease-in;
}
#nav>li:hover>ul {
    opacity: 1;
}
#nav ul li a{
    display: block;
    background: #000;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    padding: 17px 8px 18px 8px;
    width: 130px;
    transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    -webkit-transition: color .25s ease-in;
    -o-transition: color .25s ease-in;
    -ms-transition: color .25s ease-in;
}
#nav ul li:hover>a {
    color: #748;
    background: #000;
}

#main {
    min-width: 500px;
    padding: 150px;
    position: relative;
}
.blur {
    width: 100%;
    height: 600px;
    margin: 0;
    background: url("img/Blurred%20Backgrounds%20(10).jpg");
    background-size: cover;
}
.blur h1 {
    margin: 0;
    padding: 350px 0 0 180px;
}