body {
    background: #bbbbbb;
}

.nav, .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
}

.nav {
    margin: auto;
    top: 100px;
    display: block;
    position: relative;
    height: 47px;
    width: 960px;
    border-bottom: 3px solid #000;
    background: #3cd062;
}

.nav>li {
    display: block;
    float: left;
    position: relative;
}

.nav ul {
    display: block;
    position: absolute;
    top: -9999px;
    left: -100px;
    opacity: 0;
    transition: left .2s ease-in, opacity .25s ease-in;
    -moz-transition: left .2s ease-in, opacity .25s ease-in;
    -webkit-transition: left .2s ease-in, opacity .25s ease-in;
    -o-transition: left .2s ease-in, opacity .25s ease-in;
    -ms-transition: left .2s ease-in, opacity .25s ease-in;
}

.nav>li>a {
    display: block;
    padding: 16px 8px;
    width: 130px;
    border-bottom: 3px solid #000;
    text-align: center;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}

.nav>li:hover>a {
    color: #000;
    transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    -webkit-transition: color .25s ease-in;
    -o-transition: color .25s ease-in;
    -ms-transition: color .25s ease-in;
}

.nav>li:hover>ul {
    top:50px;
    left:0;
    opacity: 1;
}

.nav ul ul {
    left:80;
}

.nav ul li:hover>ul {
    top: 0;
    left: 180px;
    opacity: 1;
}

.nav ul li {
    display: block;
    position: relative;
}

.nav ul li a{
    display: block;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 15px 8px 35px;
    width: 130px;
    border-bottom-color: #fff;
    transition: color .25s ease-in, border-color .25s ease-in;
    -moz-transition: color .25s ease-in, border-color .25s ease-in;
    -webkit-transition: color .25s ease-in, border-color .25s ease-in;
    -o-transition: color .25s ease-in, border-color .25s ease-in;
    -ms-transition: color .25s ease-in, border-color .25s ease-in;
}

.nav ul li:hover>a {
    color: #3cd062;
    border-color: #3cd062;
}

.dropdown>a:after {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-color: inherit;
    right: 10px;
    top: 12px;
}