body {
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    float: left;
    padding: 10px;
    margin: 0 0 5px 0;
}
#menu_btn {
    display: none;
}
.nav-primary {
    float: right;
    margin: 0 0 30px 0;
}
.nav-primary h3 {
    position: absolute;
    left: -999px;
}
.nav-primary ul {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #e6e6e6;
}
.nav-primary li {
    float: left;
    font-size: 22px;
    border-bottom: 0;
}
.nav-primary li:last-child {
    border-bottom: 0;
}
.nav-primary a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #333;
}
.nav-primary a:hover {
    background-color: #f8f8f8;
}
.nav-primary .nav-current {
    font-weight: bold;
}
@media screen and (min-width: 592px) and (max-width: 711px) {
    .nav-primary {
        float: right;
    }
    .nav-primary,
    .nav-primary ul {
        float: left;
    }
    .nav-primary ul {
        float: left;
        margin: 0;
    }
    .nav-primary li {
        float: left;
        font-size: 22px;
        border-bottom: 0;
    }
}
@media screen and (max-width: 592px) {
    #logo {
        width: 100%;
    }
    #menu_btn {
        display: block;
    }
    .nav-primary {
        clear: both;
        width: 100%;
    }
    .nav-primary ul {
        clear: both;
        width: 100%;
        display: none;
    }
    .nav-primary li {
        clear: both;
        width: 100%;
        font-size: 20px;
        border-bottom: 1px solid #eee;border-bottom: 0;
    }
}
.open_menu {
    background: #774488;
}