html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body {
    background: #f2fafd;
    margin: 0;
    height: 100%;
    min-width: 830px;
}
header {
    background: #b0e1f3;
    color: #f2fafd;
    height: 120px;
    overflow: auto;
}
h1 {
    width: 250px;
    margin: 0;
    display: block;
    float: left;
    color: #FFF;
    padding: 18px 0 18px 15px;
}
h1:hover {
    color: #0e5670;
}
a {
    text-decoration: none;
    color: #0e5670;
}
nav {
    display: block;
    float: right;
}
nav ul {
    padding: 9px 9px 9px 0;
}
nav li {
    display:inline;
    padding: 12px;
}
nav a {
    color: #178ab4;
    font-size: 20px;
    font-weight: bold;
}
nav a:hover {
    color: #0e5670;
}
#content {
    display: block;
    width: 800px;
    margin: 0 50px;
    margin-top: -20px;
    padding: 0;
}
section {
    background: #FFF;
    height: 400px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px 1px #0e5670;
}
section h3 {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    color: #0e5670;
}
#continue {
    display: block;
    text-decoration: none;
    color: #0e5670;
    background: #b0e1f3;
    padding: 6px;
}
#post {
    background: #FFF;
    height: 800px;
    box-shadow: 0px 0px 5px 1px #0e5670;
}
#heading {
    background-image: url("img/twoTowers.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
}
#post p {
    padding: 0 15px;
}
#heading h1 {
    position: absolute;
    padding: 0 15px;
    bottom: 0;
}
#heading h2 {
    position: absolute;
    color: #FFF;
    padding: 0 15px;
    bottom: 0;
    right: 0;
    margin: 0;
}
#sidebar {
    float: right;
    width: 150px;
}
#s_face {
    background: url("img/faceHex.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 114px;
}
.s_social {
    width: 57px;
}
footer {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    background: #b0e1f3;
    bottom:0;
}