html {
    background: -webkit-radial-gradient(50% 50%, circle, white, lightblue) no-repeat center center fixed;
    -webkit-background-size: cover;
}
header {
    padding: 20px 0 0 0;
    width: 1000px;
    margin: 0 auto;
    background: rgba(72,61,139,0.1);
    background: -webkit-radial-gradient(50% 100%, circle, rgba(72,61,139,0.1), transparent);
}
h1 {
    font-size: 70px;
    text-align: center;
    margin: 0;
    color: rgba(72,61,139, 1);
}
nav {
    text-align: center;
    padding-bottom: 10px;
}
nav ul {
    padding: 9px;
    background: rgba(72,61,139, 0.5);
}
nav li
{
    display:inline;
    padding: 12px;
}
nav li:hover
{
    background-color: rgba(72,61,139, 1) ;
}
nav p {
    width: 200px;
    margin: 30px;
    display: inline;
}

a {
    color: white;
    font-size: 20px;
}
form {
    background: rgba(72,61,139, 0.5);
}

#login {
    padding: 5px 15px;
}
.show {
    opacity: 0;
}
p {
    width: 500px;
}
section {
    width: 600px;
    margin: 0 auto;
}/*
footer {
    width: 50%;
    background: rgba(72,61,139, 0.5);
    padding: 10px 0 0 0;
    position:absolute;
    bottom:0;
    left: 20%;
    right: 20%;
}*/
button {
    background: lightblue;
    border: none;
    border-radius: 4px;
}