/*
#e8eaf6
#c5cae9
#9fa8da
#7986cb
#5c6bc0
#3f51b5
#3949ab
#303f9f
#283593
#1a237e

#8c9eff
#536dfe
#3d5afe
#304ffe

cover img text: roboto bk: 120 
*/

.container .text-muted {
	margin: 20px 0;
}
.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
code {
	font-size: 80%;
}
/* Sticky footer */

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
	background: #ecf0f7;
}
#unbox {
	background: white;
	padding-bottom: 50px;
	margin-bottom: -30px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #e8eaf6;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}
/* Big Screen */

@media (min-width: 768px) {
	/* Navbar positioning foo */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-wrapper .navbar {
		padding-right: 0;
		padding-left: 0;
	}
	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		border-radius: 4px;
	}
}
/* Making NavBar Purple */

.navbar-default {
	background-color: #e8eaf6;
	border-color: #d1c4e9;
}
.navbar-default .navbar-brand {
	color: #3f51b5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #1a237e;
	background-color: transparent;
}
.navbar-default .navbar-text {
	color: #3f51b5;
}
.navbar-default .navbar-nav > li > a {
	color: #3f51b5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #1a237e;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #303f9f;
	background-color: #d1c4e9;
}
.navbar-default .navbar-toggle {
	border-color: #9fa8da;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #9fa8da;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #1a237e;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #d1c4e9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #303f9f;
	background-color: #d1c4e9;
}
@media (max-width: 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #3f51b5;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #1a237e;
		background-color: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #303f9f;
		background-color: #d1c4e9;
	}
}
.navbar-default .navbar-link {
	color: #3f51b5;
}
.navbar-default .navbar-link:hover {
	color: #1a237e;
}
.navbar-default .btn-link {
	color: #3f51b5;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
	color: #1a237e;
}
/* Header */

header {
	text-align: center;
	color: #fff;
	background-attachment: scroll;
	background-image: url(../img/polygon.svg);
	background-image: none, url(../img/polygon.svg), url(../img/polygon.png);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	height: 90vh;
}
header .intro {
	padding-top: 20vh;
	padding-bottom: 50px;
}
header .intro .intro-image img {
	margin-bottom: 25px;
	max-width: 100%;
	height: 50vh;
}
header .intro .intro-heading {
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
}
@media(min-width:768px) {
	header .intro {
		padding-bottom: 170px;
	}
	header .intro .intro-heading {
		margin-bottom: 50px;
		text-transform: uppercase;
		font-size: 75px;
		font-weight: 700;
		line-height: 75px;
	}
}
/* Style */

a {
	color: #3949ab;
}
.footer img {
	height: 100%;
	position: absolute;
	right: 0;
}
.navbar-static-top {
	border-width: 0 0 2px;
}
.footer-links {
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.footer-links p {
	margin: 20px 0
}
/* BOX */

.box {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 0 0 #e5e5e5;
	margin: 0 0 1em 0;
	padding: 1.5em;
}
.box .image.featured {
	border-radius: 0;
	display: block;
	position: relative;
	margin: -1.5em 0 1.5em -1.5em;
	width: calc(100% + 3em);
}
.box .image.featured img {
	border-radius: 8px 8px 0 0;
	display: block;
	width: 100%;
}
.box .title {
	top: -200px;
}
@media(min-width:768px) {
	.box {
		margin: 0 0 2em 0;
		padding: 3em;
	}
	.box .image.featured {
		margin: -3em 0 3em -3em;
		width: calc(100% + 6em);
	}
}