.tall {
	height: 200%;
	width: 300px;
	position: absolute;
}
.progress {
	height: 50px;
	position: fixed;
	top: 0;
}
#bar {
	width: 0%;
	background: #ddd;
	transition: width 3s ease-in-out;
}
.container{
	margin: 5vh 15vw;
}