body {
    background: url(/img/geometry.png);
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: #796547;
}

.section {
    padding: 8rem 0 7rem;
    text-align: center;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

::selection {
    background: #796547;
}

::-moz-selection {
    background: #796547;
}

.heading,
.details,
footer {
    background: #475B79;
    color: #F9FAFB;
}

.phone img {
    margin-top: -120px;
    max-height: 90vh;
}

.device {
    padding-bottom: 0;
    margin-bottom: -70px;
}

.card {
    background: #F9FAFB;
}

footer {
    text-align: center;
    padding-top: 30px;
}

.left-phone,
.right-phone {
    display: none
}

.container .phone > .one-third.column {
    max-width: 100%;
    box-sizing: border-box;
}

/* Bigger than 550 */

@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
    .phone img {
        margin-top: -182px;
    }
    .device {
        padding-bottom: 0;
        margin-bottom: -100px;
    }
    .container .phone > .one-third.column {
        width: 80%;
        margin-left: 10%;
    }
}

/* Bigger than 750 */

@media (min-width: 750px) {
    .section {
        padding: 14rem 0 15rem;
    }
    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .phone img {
        margin-top: -210px;
    }
    .device {
        padding-bottom: 0;
        margin-bottom: -110px;
    }
    .right-phone {
        display: block
    }
    .container .phone > .one-third.column {
        width: 48%;
        margin-left: 2%;
    }
}

/* Bigger than 1000 */

@media (min-width: 1000px) {
    .section {
        padding: 20rem 0 19rem;
    }
    .phone img {
        margin-top: -270px;
    }
    .device {
        padding-bottom: 0;
        margin-bottom: -110px;
    }
    .left-phone {
        display: block
    }
    .container .phone > .one-third.column {
        width: 30.6666666667%;
        margin-left: 2%;
    }
}
/* Colour Pallete - blue:#475B79,gold:#796547,,off-white: #F9FAFB */