img {
    max-height: 90vh;
}

footer {
    text-align: center;
    padding-top: 30px;
}

financeChart {
    width: 100%;
    height: 100%;
}

/* Bigger than 550 */

@media (min-width: 550px) {
    .section {
        padding: 12rem 0 11rem;
    }
}

/* Bigger than 750 */

@media (min-width: 750px) {
    .section {
        padding: 14rem 0 15rem;
    }
}

/* Bigger than 1000 */

@media (min-width: 1000px) {
    .section {
        padding: 20rem 0 19rem;
    }
}
/* Colour Pallete - blue:#475B79,gold:#796547,,off-white: #F9FAFB */