html {
    position: relative;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    /*background: url('worn_dots.png') repeat;*/
    margin: 0 0 70px 0; /* maintains gap between content & footer */
}
/*   Header   */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    margin: 0;
    overflow: auto;
    background: rgba(189,195,199, 0.7);
    height: 130px;
    min-width: 1020px;
    transition: height .25s;
    -moz-transition: height .25s;
    -webkit-transition: height .25s;
    -o-transition: height .25s;
    -ms-transition: height .25s;
}
#logo {
    display: block;
    float: left;
    padding: 0;
}
#logo a > img {
    margin: 4px 0 0 4px;
    height: 122px;
    transition: height .25s;
    -moz-transition: height .25s;
    -webkit-transition: height .25s;
    -o-transition: height .25s;
    -ms-transition: height .25s;
}
nav {
    display: block;
    float: right;
    text-align: left;
}
nav ul {
    padding: 9px 0 9px 0;
    margin: 40px 20px 0 0;
    transition: margin .25s;
    -moz-transition: margin .25s;
    -webkit-transition: margin .25s;
    -o-transition: margin .25s;
    -ms-transition: margin .25s;
}
nav li {
    display:inline;
    padding: 12px;
    transition: background-color .20s;
    -moz-transition: background-color .20s;
    -webkit-transition: background-color .20s;
    -o-transition: background-color .20s;
    -ms-transition: background-color .20s;
}
nav li:hover {
    background-color: rgba(189,195,199, 1) ;
}
nav a {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
/*   Banner   */
.cover {
    height: 450px;
    width: 100%;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("img/house2.jpg");
    position: relative;
}
/*   Content   */
#content {
    height: 1000px;
    margin: 30px;
    min-width: 949px;
}
.link {
    position: absolute;
    bottom: 0;
    padding-top: 68px; /* Link down to main content on page */
}
section {
    padding: 30px;
    background: #ecf0f1;
    margin: 10px 0;
}
/*   Form   */
span.bold{
     font-weight: bold;
 }
form {
    width: 600px;
    padding: 0;
    margin: 24px auto 0 auto;
    overflow: auto;
}
form select{
    padding: 2px 4px;
    margin-left: 70px;
}
label {
display: block;
float: left;
width: 160px;
text-align: right;
margin-right: 9px;
padding: 10px;
}
input[type=text],input[type=email],input[type=password],input[type=date], input[type=number] {
width: 200px;
padding: 8px;
border: 2px solid #bdc3c7;
background: #f7f9f9;
}
input[type=submit],input[type=button] {
    display: block;
    padding: 4px 8px;
    width: 130px;
    margin: 0 auto;
    border: 2px solid #f7f9f9;
    background: #bdc3c7;
}
input:focus, textarea:focus {
    border: 2px solid #33b5e5;
}
.error {
    padding: 0 5px;
    font-size: 12px;
    color: #33b5e5;
}
.detailed_error {
    display: block;
    padding: 0;
    width: 330px;
    margin: 0 auto;
    text-align: center;
}
/*   Footer   */
footer {
    width: 100%;
    height: 50px;
    background: #bdc3c7;
    position:absolute;
    bottom:0;
    /*border-top: 5px solid #33b5e5;*/
}
footer p {
    text-align: right;
    padding-right: 20px;
}