html, body, div, span, p, a, code, em, img, small, strong, b, u, i, center, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figcaption, footer, header, menu, nav, section, summary, time {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: arial, helvetica, sans-serif;
    vertical-align: baseline;
}
html {
    height: 100%;
}
p {
     padding: 15px;
}
body {
    background-image: url('img/brick.png');
    height: 100%;
}
a {
     text-decoration: none;
    color: #000;
}
#all {
    position: relative;
    min-height: 100%;
    overflow: auto;
    padding-bottom: 50px;
}
/*   Header   */
.container {
    position: relative;
    margin: 0 auto;
    width: 94%;
    max-width: 1100px;
    min-width: 850px;
}
header {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #bdc3c7;
}
header h1 {
    position: absolute;
    font-size: 2.2em;
    top: 0;
    left: 0;
    color: #000;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: 0;
}
header h1:hover {
    color: #545d64 ;
}
nav {
    position: absolute;
    right: 0;
}
nav ul {
    list-style: none;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    font-size: 17px;
    font-weight: bold;
    padding: 0 6px;
    transition: color 350ms;
    -moz-transition: color 350ms;
    -webkit-transition: color 350ms;
    -ms-transition: color 350ms;
}
nav li:hover {
    background-color: #a1aab0 ;
}
.customer {
    height: 30px;
    line-height: 30px;
    background: #e6e9ea;
}
#customerAccount {
    position: absolute;
    right: 0;
}
#customerAccount a {
    margin-right: 10px;
    color: #545d64;
}

#customerAccount a:hover {
    color: #000;
}
/*   Content   */
#content {
    position: relative;
    margin: 0 auto;
    width: 94%;
    min-width: 850px;
    max-width: 1000px;
}
.heading {
    text-align: center;
}
.heading h1 {
    margin: 40px 0;
}
.link {
    position: absolute;
    bottom: 0;
    padding-top: 68px; /* Link down to main content on page */
}
.section {
    padding: 30px;
    background: #e6e9ea;
    overflow: auto;
}
.ftfy {
    display: block;
    float: left;
    width: 390px;
}
.ftfyRight{
    float: right;
}
.ftfy .intro {
    text-align: center;
}
.ftfy p {
    padding: 0;
    margin: 15px 0;
}
.ftfy label {
    width: 80px;
    margin-left: 0;
}
.ftfy input[type=submit] {
    margin-right: 105px;
}
/*   Form   */
span.bold{
     font-weight: bold;
 }
form {
    width: 100%;
    padding: 0;
    margin: 24px auto 0 auto;
    overflow: auto;
}
form select{
    padding: 2px 4px;
    margin-left: 70px;
}
label {
    display: block;
    float: left;
    width: 160px;
    text-align: right;
    margin-right: 9px;
    margin-left: 77px;
    padding: 10px;
}
input[type=text],input[type=email],input[type=password],input[type=date], input[type=number] {
    width: 200px;
    padding: 8px;
    border: 2px solid #bdc3c7;
    background: #f7f9f9;
}
input[type=submit],input[type=button] {
    display: block;
    padding: 4px 8px;
    width: 130px;
    margin: 0 auto;
    border: 2px solid #f7f9f9;
    background: #bdc3c7;
}
input:focus, textarea:focus {
    border: 2px solid #33b5e5;
}
#input_property, #input_deposit, #input_fees {
    background: #f7f9f9 url("img/pound.png") left no-repeat;
    padding-left: 32px;
    width: 176px;
}
#input_term {
    background: #f7f9f9 url("img/years.png") right no-repeat;
    padding-right: 64px;
    width: 144px;
}
#input_interest {
     background: #f7f9f9 url("img/percent.png") left no-repeat;
     padding-left: 32px;
     width: 176px;
 }
.tick {
    background-image: url("img/tick.png");
    background-size: cover;
    line-height: 30px;
    margin-left: 8px;
    font-size: 20px;
}
.cross {
    background-image: url("img/cross.png");
    background-size: cover;
    margin-left: 8px;
    line-height: 30px;
    font-size: 20px;
}
.error {
    padding: 0 5px;
    font-size: 13px;
    color: #33b5e5;
}
.detailed_error {
    display: block;
    padding: 0;
    width: 330px;
    margin: 0 auto;
    text-align: center;
}
/*   Results  */
table {
    margin: 0 auto;
    border: 2px solid #bdc3c7;
    border-spacing: 0;
}
th {
    padding: 5px;
    background: #bdc3c7;
}
td {
    text-align: center;
    padding: 18px 5px;
}
/*   Footer   */
footer {
     position: absolute;
     background: #bdc3c7;
     width: 100%;
     height: 50px;
     bottom:0;
    line-height: 50px;
 }
footer img {
    height: 100%;
    position: absolute;
    right: 0;
}
footer nav {
    position: relative;
    right: inherit;
}
.greyText {
    color: #545d64;
}